body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;

}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 33px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 1px;
}

.half-width {
    width: 50%;
    padding-left: 4%;
    padding-top: 3%;
}

.half-width img {
    width: 73%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;

}

.corner-nukta {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat
}

.right-nukta {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.orange-color {
    color: orange;
}

.experience-box {
    width: 50%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 4%;
    padding-left: 40px;

    padding-right: 40px;
    padding-bottom: 8%;
    border-radius: 10px;
    box-shadow: 10px 10px 40px black;
}

.Experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#Full-Stack {
    border-left: 8px solid tomato;
}

#Baby-Web {
    border-left: 8px solid blue;
}

footer p {
    text-align: center;
}